# Node modules
node_modules/
dist/
build/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Datasets and Uploads
datasets/
uploads/
*.h5

# IDE
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db
